<div class="row" style="margin-top: 1%;" >
    <div class="col-12">
        <h6 style="background-color: #d3d3d3">Clap</h6>
    </div>
</div>
<div class="row mt-3 mb-3" >
    <div class="col-1 ">
        <input type="checkbox" class="check" id="clap1">   
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap2">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap3">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap4">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap5">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap6">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap7">
    </div>
    <div class="col-1">
        <input type="checkbox" class="check" id="clap8">
    </div>
    <div class="col-2" style="display: inline-flex;">
        <button class="buttonM m-1" (click)="muteClap()"[ngClass]="mute ? 'textRed': 'textWhite'">Mute</button>
        <button class="buttonM m-1" (click)="reverbSwitch()"[ngClass]="reverbOn ? 'textRed': 'textWhite'">Reverb</button>
    </div>
    <div class="col-1">
        <input type="range" class="slider" id="clapVol"max="20" min="-50"step="1" value="0"  (mouseup)="changeClapVol()" (touchend)="changeClapVol()">
    </div>
    <div class="col-1">
        <label class="label" for="chatVol">Vol</label>
    </div>
    
</div>
<div class="row">
    <div class="col-1 ">  
        <div class="slidecontainer" >
            <input type="range" class="slider" id="clap1Pitch"max="3" min="0.25" step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')">
        </div>
    </div>
    <div class="col-1" >
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap2Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')">
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap3Pitch" max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')"> 
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap4Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')"> 
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap5Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')"> 
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap6Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')">
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap7Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')">
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="clap8Pitch"max="2.5" min="0.25"step="0.25" value="1" (mouseup)="changePlaybackRate('clap')" (touchend)="changePlaybackRate('clap')">
        </div>
    </div>
    <div class="col-1">
        <input type="range" class="slider" id="clap/snare"max="1" min="0"step="1" value="0"(mouseup)="changeSample()" (touchend)="changeSample()">
    </div>
    <div class="col-1">
        <label class="label" for="attackNoise">Clp/Sn</label>
    </div>
    <div class="col-1">
        
    </div>
    <div class="col-1">
        
    </div>
    
    

</div>