<div class="row mt-3" >
    <div class="col-12">
        <h6 style="background-color: #d3d3d3;">Mixer</h6>
    </div>
</div>
<div class="row mt-1">
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
    <div class="col-1">
        <div class="slidecontainer">
            <input type="range" class="slider" id="checkPluck6Pitch"max="1000" min="5"step="5" value="600" >
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-1">
        <label class="label" for="attackNoise">Synth</label>
    </div>
    <div class="col-1">
        <label class="label" for="attackNoise">Chord</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Clap</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Kick</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Hat</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Pluck</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Bass</label>
    </div>
    <div class="col-1">
        <label class="label" for="revWet">Samp</label>
    </div>
</div>    